doctype html
html
    include ./head.pug
    body
        include ./navigation.pug

        section#gtco-header.gtco-cover.gtco-cover-xs.gtco-inner(style='background-color: rgba(52, 58, 64, 0.4)')
            .gtco-container.container
                .row
                    .col-lg-5.mx-auto
                        p.lead
                        img(src='images/cube.png')
                    .col-lg-4.mx-auto
                        .card(style='width: 18rem;')
                        .card-body
                        h4.card-title Profile Information
                        div
                        | Name:
                        p#name.card-text #{name}
                        div
                        | Email:
                        p#email.card-text #{email}
                        div
                        | Organization:
                        p#affiliation.card-text #{affiliation}
                        hr
                        button#logout_button.btn.btn-primary Logout

        hr
        include ./footer.pug

        script(src='js/main.js')

        //- script(type='text/javascript', language='JavaScript').
        //-     $.get("/user", function (data) {
        //-         $('#name').text(data.name);
        //-         $('#email').text(data.email);
        //-         $('#affiliation').text(data.organization);
        //-     });