footer.py-7.bg-light
  .container
    .col-md-12.mx-auto
      small.m-0.text-left(<p='')
        | © 2018 University of Chicago. This platform is supported by the Enrico Fermi Institute at the University of Chicago.
        p
    .container
      .col-md-2.mx-auto
        img(src='images/NSF_4-Color_bitmap_Logo.png', style='width:50%;')
      .col-md-5.mx-auto
        img(src='images/OOS_brandtrans.gif', style='width:50%;')
