footer.py-7.bg-light
  .container
    .col-md-12.mx-auto
      small.m-0.text-left(<p='')
        | © 2018 University of Chicago. This platform is supported by the Enrico Fermi Institute at the University of Chicago.
        p
