doctype html
html
head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(charset='UTF-8')
    meta(name='google', content='notranslate')
    meta(http-equiv='Content-Language', content='en')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='ML platform store front')
    meta(name='keywords', content='kubernetes, k8s, Jupyter, JupyterLab, Machine Learning, platform')
    meta(name='author', content='Ilija Vukotic')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    title ATLAS Machine Learning platform
    body
        include ./head.pug
        include ./footer.pug
        //- h1 #{pod_name} Pod Log  
        //- p #{content}.