nav#mainNav.navbar.navbar-expand-lg.fixed-top(style='background-image: linear-gradient(#04519b, #044687 60%, #033769);')
  .container
    a.navbar-brand(href='/')
      img.d-inline-block.align-top(src='/images/logo.png', width='30', height='30', alt='')
      |  ГАТЕС
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        
        li.nav-item
          a.nav-link(href='/about') About
        
        li.nav-item
          a.nav-link(href='https://atlas-analytics.github.io/GATES/') Docs
        
        if (loggedIn)
        
          li.nav-item.dropdown()
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Teams
            .dropdown-menu(aria-labelledby='navbarDropdown')
              if (typeof(teams) !== 'undefined')
                each val, index in teams
                  a#plugin_projects.dropdown-item(href="/team/use/" + index) #{val}
              .dropdown-divider
              a#plugin_projects.dropdown-item(href='/team/new') New team
          
          li.nav-item.dropdown()
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Experiments
            .dropdown-menu(aria-labelledby='navbarDropdown')
              .dropdown-divider
              a#plugin_experiments.dropdown-item( href='/experiment/new') New experiment
          
          li.nav-item()
            a.nav-link(href='/analytics') Analytics
          
        li.nav-item
          a.nav-link(href='https://atlas-kibana.mwt2.org/s/gates/', target='_blank') Monitor
        
        if (!loggedIn)
          li#login_button.nav-item
            a.nav-link(href='/login') Login
        
        if (loggedIn)
          li#profile_button.nav-item()
            a.nav-link(href='/profile') Profile


