doctype html
html
    include ./head.pug
    body
        include ./navigation.pug

        section#gtco-header.bg-light
            .container
                .row
                    .col-lg-5.mx-auto
                        h2 Team
                        p.lead
                        | All team members have equal and full control 
                        | of all the experiments created by the team. 
                        | To add a member use his/her username. To check your user name, go to 
                        a(href='/profile') profile.
                    .col-lg-6.mx-auto
                        h2 Create/Edit your Team
                        form#team_update(action='#')
                        .form-group
                            label(for='name') Name *
                            input#name.form-control(type='text',required='',value=name)
                            p#name_valid
                        .form-group
                            label(for='description') Description * 
                            input#description.form-control(type='text',required='',value=description)
                            p#description_valid
                        .form-group
                            label(for='members') Members * 
                            input#members.form-control(type='text',required='',value=members)
                            p#members_valid
                        .form-group
                            label(for='teamurl') Team web page/github repo.
                            input#teamurl.form-control(type='text', value=teamurl)
                        .form-group
                            input.btn.btn.btn-primary(type='submit', value='CREATE / SAVE')


        hr
        include ./footer.pug

        script(src='/js/main.js')
        script(src='/js/handling.js')


